$mainBrandColor: #5C6BC0;
$secondBrandColor: #3949AB;
$textBrandColor: #FFFFFF;
$textBrandColorLight: #EDEDED;
$textBrandHighlightColor: #f9ab7a;
$complementaryHighlight: #f9ab7a;
$matchingHighlight: #54d9ff;
